<p id="notice"><%= notice %></p>

<p>

 <b>Actors in this Genre:</b>

 
  <ul>
 <!--here we pass in the info that comes from has many between the || is the item we want displayed-->
   <% @genre.actors.each do |actor| %>

   <li><%= actor.name %></li>

   <% end %>

 </ul>

</p>



<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
