<p id="notice"><%= notice %></p>

<p>

 <b>Actor's Movies:</b>

 
  <ul>

   <% @movies.actors.each do |movies| %>

   <li><%= movies.name %></li>

   <% end %>

 </ul>

</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
