<p id="notice"><%= notice %></p>

<p>

 <b>Actor's Movies:</b>

 
  <ul>

   <% @actor.movies.each do |movies| %>

   <li><%= movies.name %></li>

   <% end %>

 </ul>

</p>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
